.task {
    background-image: radial-gradient(white, rgba(247, 150, 59, 0.247));
    display: flex;
    flex-direction: column;
    max-width: 300px;
    padding: 10px;
    align-items: center;
    border: 2px dashed rgb(96, 177, 243);
    border-radius: 10px;
}

.task__title {
    margin-top: .5em;
    margin-bottom: 1em;
    color:rgb(96, 177, 243)
}

.taskDoneButton, .taskDeleteButton {
    min-width: 100px;
    color:rgb(96, 177, 243);
    border: 1px solid  rgb(96, 177, 243);
    border-radius: 10px;
    background-color: white;
    margin: 15px 0 0 0;
    transition: ease 200ms;
    font-family: 'Grandstander', cursive;
    font-weight: 400;
    background-image: radial-gradient(white, rgba(247, 150, 59, 0.247));
}

.taskDoneButton:hover{
    background-color: rgb(96, 177, 243);
    border: 1px solid  rgb(90, 90, 90);
    color: black;

}
.taskDeleteButton:hover{
    background-color: rgb(247, 150, 59);
    border: 1px solid  rgb(90, 90, 90);
    color: black;
}

.task__done{
    color: rgb(96, 177, 243);
}
.task__date{
    color: rgb(96, 177, 243);
}